# Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://cityboy:cityboy_dev_2025@db:5432/cityboyconnect
DB_PASSWORD=cityboy_dev_2025

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173

# SMS Provider (replace with real credentials)
SMS_PROVIDER=afrikastalking
SMS_API_KEY=atsk_ed126fcee651028d70e3fa55566f9296092882face53ed876231758a4d9cf48340068bff
SMS_SENDER_ID=cityboy

# Frontend
VITE_API_URL=http://localhost:8000/api/v1
FRONTEND_URL=https://cityboyconnect.com

# OneSignal (Email delivery)
ONESIGNAL_APP_ID=9e96c1e6-00ce-4618-a416-3839452ba6b4
ONESIGNAL_REST_API_KEY=os_v2_app_t2lmdzqazzdbrjawha4ukk5gwt2mxlprkfiuzinbemmwjtzbgjrj7g6ylo6pchdxo3byeetjabtnq3ftxfxzw2hmjs2k7nbsklwvgbi
#os_v2_app_t2lmdzqazzdbrjawha4ukk5gwsyzpvsirwoeg2upu2zyckbdmetphxcvlxg3nrjif3r2fdtpq5fzdtljx4kvdxb2nejwfeyrwpgzypq
