# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Environment
.env

# Node
node_modules/
mobile/node_modules/
frontend/node_modules/
backend/venv/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
